<div class="container-fluid">
<p id="notice"><%= notice %></p>

  <!-- Events Title -->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4"><h1>Events</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 indexAddEvents"><%= link_to 'Add New Event', new_event_path, class: "redBtn" %></div>

  </div>

<!-- Events Listing -->

  <% @events.each do |event| %>

  <div class="row indexRowEvent">

    <!-- image -->
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">    
      <%= image_tag(event.imageurl, class: "img-responsive text-center") if event.imageurl.present? %><br/>
    </div>

    <!-- events description -->
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div class="indexEventDate"><%= event.date.strftime("%d %b %Y %A") %> <%= event.time.strftime("%l:%M %p") %> <span class="indexEventDateHidden" id= <%= event.date%> ><%= event.date%></span> </div> 

      <div class="indexEventTimeLeft"></div> 
      
      <div class="indexEventTitle"><%= event.title %></div> 
      <div class="indexEventDescript"><%= event.description %> </div>

      <div class="indexEventLinks">     
        <%= link_to 'View', event, class:"indexEventLinksBtn" %> &nbsp;
        <%= link_to 'Edit', edit_event_path(event), class:"indexEventLinksBtn" %> &nbsp;
        <%= link_to 'Delete', event, class:"indexEventLinksBtn", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>  
    </div>

  </div> 

  <% end %>

</div>