<div class="row newEventContainer text-center">

  <!--side -->
  <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>

  <!-- center content -->
  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 text-center">

    <p id="notice"><%= notice %></p>

    <!-- Event Title -->
    <div class="viewEventContentContainer">
      <strong>Title:</strong> <%= @event.title %>
    </div>

    <div class="viewEventContentContainer"> 
      <strong>Date:</strong> <%= @event.date.strftime("%d %b %Y %A") %> 
    </div>

    <div class="viewEventContentContainer"> 
      <strong>Time:</strong> <%= @event.time.strftime("%l:%M %p") %>
    </div>

    <!-- Event Description -->  
    <div class="viewEventContentContainer"> 
      <strong>Description:</strong>
    </div>


    <div class="viewEventContentContainer"> 
      <%= @event.description %>
    </div>

    <!-- Event Image -->
    <div class="viewEventContentContainer"> 
      <strong>Image:</strong>
    </div>

    <div class="viewEventContentContainer"> 
      <%= image_tag(@event.imageurl, class: "img-responsive text-center") if @event.imageurl.present? %>
    </div>



    <div class="viewEventButtonsContainer">   

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 viewEventButtonHolder">
        <%= link_to 'Edit', edit_event_path(@event), class: "redBtn btn-block"  %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 viewEventButtonHolder">
        <%= link_to 'Back', events_path, class: "whiteBtn btn-block" %>
      </div>
      
      
      

    </div>

  </div>  

  

  <!--side -->
  <div class="col-lg-2 col-md-0 col-sm-0 col-xs-0"></div>

</div>